%% -*- erlang -*-
{erl_opts,[debug_info]}.
{deps_dir, ["deps"]}.
{deps, [{jsone, {git, "git://github.com/sile/jsone.git", {branch, "master"}}},
        {yawsjson2, {git, "git://github.com/spawnproc/yawsjson2", {branch, "master"}}},
        {jiffy, {git, "git://github.com/davisp/jiffy.git", {branch, "master"}}},
        {mochijson2, {git, "git://github.com/bjnortier/mochijson2.git", {branch, "master"}}},
        {jsx, {git, "git://github.com/talentdeficit/jsx.git", {branch, "main"}}}]}.
